body{
  background-color: #D3C1D2;
}

.App{
  background-color: #00afb9;
  min-height: 500px;
  width: 400px;
  margin: 40px auto;
  border-radius: 20px;
}

.title{
  color: white;
opacity: 0.8;
font-size: 50px;
margin: auto 10px;
animation-name: titleAnimate;
animation-direction: alternate;
animation-duration: 5s;
animation-iteration-count: infinite;
transition: 5s;
text-decoration: underline;
}

@keyframes titleAnimate{
  from{letter-spacing: normal;}
  to{letter-spacing: 10px;}
}